$center: 0 auto;

.navbar {
    margin-bottom: 0;
}
.logo {
    border-radius: 50%;
    width: 8%;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
#newPost {
    width: 100%;
    height: 60vh;
}
#Post {
    width: 90%;
    margin: $center;
}
#markdown {
    width: 90%;
    margin: 2% auto;
    border: 1px dashed red;
    height: 90vh;
}
.post-title, .commit-message, .post-content {
    padding-left: 1em;
}
.send {
    width: 100%;
}
// injector
// endinjector
